.tag{
    margin-left: 300px;
    text-align: center;
    justify-content: center;
    padding: 30px;
}
.product {
    margin-left: 300px;
    padding: 20px;             
}
.imgtab{
    height: 100px;
    width: 130px;
}
    
.details2{
    margin-top: 10px;
}

.searchbar{
    width: 86%;
    margin-bottom: 20px;
    height: 50px;
    padding-left: 18px;
    
}
.dropdown{
    margin-left:15%;
    display: flex;
}
.dropdown2{
    margin-left: 1%;
    display: flex;
}
.drop{
    display: flex;
}

.searchicon{
    position: relative;
    right: 60px;
}

.addproduct{
    height: 50px;
    width: 200px;
    text-decoration: none;
}

.loading-product{
    margin-left: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
}