.tag{
    margin-left: 300px;
    text-align: center;
    justify-content: center;
    padding: 30px;
}
.product {
    margin-left: 300px;
    padding: 20px;             
}
.imgtab{
    height: 150px;
    width: 150px;
}
    
.details2{
    margin-top: 10px;
}

.search-box{
    width: 85%;
    margin-left: 15%;
    padding: 25px;
    height: 100px;
}
.dropdown{
    margin-left:15%;
    display: flex;
}
.dropdown2{
    margin-left: 1%;
    display: flex;
}
.drop{
    display: flex;
}