.sidenav {
    width: 300px;
    background-color: #3976af;
    position: absolute;
    height: 100vh;
    padding: 0 30px;
   position: fixed;
}

.nav {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.nav:hover {
    background-color: aliceblue;
    color: black;
}