.addproductform {
    margin-left: 45%;
    padding: 10px;
    }
    
    .test123{
        width: 1120px;
        margin-left: 25%;
    }
    .btn2{
        width: 1100px;
        margin-left: 14px;
        margin-top: 20px;
    }
    